# Dependencies
**/node_modules/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Environment
**/.env*.local

# Vite
**/dist/

# Logs
**/*.log

# Runtime
**/*.pid
**/*.seed

# OS
.DS_Store
Thumbs.db

# Backend uploads
backend/uploads/

# IDE
.vscode/
.idea/

backend/node_modules/
frontend/node_modules/
